
@import 'common';
%common-btn{
	padding: 22px 54px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 4px;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	background: #0064c1;
	background: -o-linear-gradient(315deg,  #0064c1 1%,#18aed9 100%);
	background: linear-gradient(135deg,  #0064c1 1%,#18aed9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064c1', endColorstr='#18aed9',GradientType=1 );
}
%common-education{
	h3{
		font-size: 48px;
		font-weight: 700;
		color: #071a38;
		margin-bottom: 65px;
		font-family: 'Rubik', sans-serif;
	}
	.education-par{
		position: relative;
		font-weight: 500;
		font-family: 'Quicksand', sans-serif;
		color: #071a38;
		margin-left: 88px;

		&::after{
			position: absolute;
			content: "";
			height: 4px;
			width: 70px;
			top: 20px;
			left: -80px;
			background-color: #071a38;
			-webkit-animation-name: spin;
			animation-name: spin;
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-direction: alternate;
			animation-direction: alternate;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}
		@-webkit-keyframes spin{
			0%{
				width: 70px;
			}
			100%{
				width: 4px;
			}
		}
		@keyframes spin{
			0%{
				width: 70px;
			}
			100%{
				width: 4px;
			}
		}

		p{
			font-size: 25px;
			margin-top: 60px;
		}
		span{
			font-size: 16px;
			margin-top: 36px;
			display: inline-block;
			margin-bottom: 50px;
		}
		.common-btn{
			@extend %common-btn;
		}
	}
}





header{

	background-image: url(../images/banner-1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1040px;

	.navbar{
		background-image: url(../images/header.png);
		background-size: contain;
		background-position: center;
		padding: 0;
		padding: 36px 0;
		background-repeat: no-repeat;

		.navbar-nav{
			.nav-item{
				margin: 0 7px;

				.nav-link{
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					font-family: 'Quicksand', sans-serif;
				}
			}
		}
		.right-side{
			.common-btn{
				@extend %common-btn;
				padding: 10px 25px;
			}
			.common-btn.common-btn-1{
				margin-right: 26px;
				background: transparent;
				border-radius: 4px;
				border: 2px solid transparent;
				-o-border-image: -o-linear-gradient(45deg,  #0064c1 1%, #18aed9 100%);
				border-image: linear-gradient(45deg,  #0064c1 1%, #18aed9 100%);
				border-image-slice: 2;
			}
		}
	}
	.banner-text{
		padding-top: 260px;

		h1{
			font-weight: 700;
			font-size: 66px;
			color: #fff;
			margin-bottom: 50px;
			font-family: 'Rubik', sans-serif;
		}
		.common-btn{
			@extend %common-btn;
			font-size: 18px;
		}
	}
}
/*-- header-section end --*/


/*-- card-section start --*/
.card-section{
	padding: 150px 0;

	.single-card{
		width: 100%;
		height: 325px;
		text-align: center;
		padding: 70px 30px;
		background-color: #0b0c21;
		-webkit-transition:.4s;
		-o-transition:.4s;
		transition:.4s;

		&:hover{
			-webkit-transform: scaleY(1.1);
			-ms-transform: scaleY(1.1);
			transform: scaleY(1.1);
		}

		h2{
			margin-top: 30px;
			color: #fff;
			font-size: 25px;
			font-weight: 500;
			font-family: 'Rubik', sans-serif;
		}
	}
	.single-card-2{
		background: #0064c1;
		background: -o-linear-gradient(315deg,  #0064c1 1%,#18aed9 100%);
		background: linear-gradient(135deg,  #0064c1 1%,#18aed9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064c1', endColorstr='#18aed9',GradientType=1 );
	}
	.single-card-3{
		background-color: #f4a10f;
	}
	.single-card-4{
		background-color: #fe6288;
	}
}
/*-- card-section end --*/


/*-- education-section start --*/
.education{

	.mb-160{
		margin-bottom: 160px;
	}
	.mb-200{
		margin-bottom: 200px;
	}

	.education-img{
		position: relative;
		z-index: 1;

		&::after{
			position: absolute;
			content: "";
			left: -96px;
			bottom: -74px;
			height: 265px;
			width: 240px;
			z-index: -1;
			background-repeat: no-repeat;
			background-image: url(../images/education-after.png);
		}

	}
	.education-img-2{

		position: relative;

		&::after{
			position: absolute;
			content: "";
			right: -96px;
			left: auto;
			bottom: -74px;
			height: 265px;
			width: 240px;
			z-index: -1;
			background-repeat: no-repeat;
			background-image: url(../images/education-after-2.png);
		}

	}

	.education-text{
		@extend %common-education;
	}
	
}
/*-- education-section end --*/


/*-- pricing-section start --*/
.pricing-section{
	padding: 125px 0;
	background-color: #0b0c21;
	background-image: url(../images/pricing-bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	margin-bottom: 180px;


	&::after{
		position: absolute;
		top: -186px;
		left: 0;
		content: "";
		height: 320px;
		width: 320px;
		background-image: url(../images/pricing-after.png);
		background-repeat: no-repeat;
	}

	&::before{
		position: absolute;
		bottom: -130px;
		right: 40px;
		content: "";
		height: 260px;
		width: 340px;
		background-image: url(../images/pricing-before.png);
		background-repeat: no-repeat;
	}

	.hadding{
		margin-bottom: 100px;

		h3{
			font-size: 25px;
			margin-bottom: 36px;
			font-weight: 700;
			color: #0064c1;
			letter-spacing: 5px;
			font-family: 'Rubik', sans-serif;
		}
		h2{
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 30px;
			color: #fff;
		}
		p{
			font-size: 16px;
			color: #fff;
			font-weight: 400;
			font-family: 'Quicksand', sans-serif;
		}
	}
	.pricing{

		.single-pricing{
			padding-right:30px;
			padding-left: 30px;
			padding-top: 60px;
			padding-bottom: 40px;
			background-color: #fff;
			position: relative;
			z-index: 1;
			-webkit-transition: .4s;
			-o-transition: .4s;
			transition: .4s;

			&:hover{
				-webkit-transform: scaleY(1.1);
				-ms-transform: scaleY(1.1);
				transform: scaleY(1.1);
			}


			&::after{
				position: absolute;
				content: "";
				height: 100%;
				width: 100%;
				right: 0;
				top: 0;
				z-index: -1;
				background-image: url(../images/pricing-card-1.jpg);
				background-size: cover;
				background-position: center;
			}
			h2{
				font-size: 40px;
				font-weight: 700;
				color: #141729;
				font-family: 'Quicksand', sans-serif;
			}
			h3{
				color: #0064c1;
				font-size: 40px;
				font-weight: 700;
				margin-bottom: 80px;
				position: relative;
				font-family: 'Quicksand', sans-serif;

				span{
					font-size: 25px;
					color: #141729;
				}

				&::after{
					position: absolute;
					content: "";
					height: 4px;
					width: 100px;
					background-color: #141729;
					left: 0;
					bottom: -40px;
					-webkit-transition: .4s;
					-o-transition: .4s;
					transition: .4s;
					-webkit-animation-name: spintabil;
					animation-name: spintabil;
					-webkit-animation-duration: 2s;
					animation-duration: 2s;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
					-webkit-animation-direction: alternate;
					animation-direction: alternate;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
				}
				@-webkit-keyframes spintabil{
					0%{
						width: 100px;
					}
					100%{
						width: 4px;
					}
				}
				@keyframes spintabil{
					0%{
						width: 100px;
					}
					100%{
						width: 4px;
					}
				}

			}
			ul{
				margin-bottom: 50px;

				li{
					margin-bottom: 22px;

					h4{
						font-size: 18px;
						font-weight: 700;
						color: #0b0c21;
						display: inline;
						margin-left: 6px;
						font-family: 'Quicksand', sans-serif;
					}
				}
			}
			.common-btn{
				@extend %common-btn;
				-webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
				box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
			}
		}
		.single-pricing-2{

			&::after{
				background-image: url(../images/pricing-card-2.jpg);
			}
		}
		.single-pricing-3{

			&::after{
				background-image: url(../images/pricing-card-3.jpg);
			}
		}
	}
}
/*-- pricing-section end --*/


/*-- testimonial-section start --*/
.testimonial{
	padding-bottom: 100px;
	padding-top: 50px;

	.hadding{
		h3{
			letter-spacing: 5px;
			margin-bottom: 30px;
			color: #18aed9;
			font-weight: 700;
			font-family: 'Rubik', sans-serif;
		}
		h2{
			font-size: 48px;
			font-weight: 700;
			color: #0b0c21;
			font-family: 'Rubik', sans-serif;
		}
	}
	.testimonial-tem{
		background-image: url(../images/test-bg.png);
		background-size: cover;
		background-position: center;
		height: 900px;

		.top-testimonial{
			position: relative;


			.single-testimonial-1{
				position: absolute;
				left: 0;
				top: 130px;
			}
			.single-testimonial-5{
				position: absolute;
				left: 30px;
				top: 410px;
			}
			.single-testimonial-2{
				position: absolute;
				left: 370px;
				top: 36px;
			}
			.single-testimonial-6{
				position: absolute;
				left: 265px;
				top: 585px;
			}
			.single-testimonial-3{
				position: absolute;
				left: 640px;
				top: 220px;
			}
			.single-testimonial-7{
				position: absolute;
				left: 600px;
				top: 450px;
			}
			.single-testimonial-4{
				position: absolute;
				right: 0;
				top: 65px;
			}
			.single-testimonial-8{
				position: absolute;
				right: 0;
				top: 600px;
			}
		} 
		
		.single-testimonial{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			.single-testimonial-img{
				
			}
			.single-testimonial-text{
				width: 300px;
				opacity: 0;
				-webkit-transition: .4s;
				-o-transition: .4s;
				transition: .4s;

				h4{
					font-size: 20px;
					font-weight: 700;
					font-family: 'Quicksand', sans-serif;
				}
				h5{
					font-size: 16px;
					color: #2752cd;
					margin-top: 15px;
				}
				p{
					font-size: 14px;
					color: #38445a;
					margin-top: 15px;
				}
			}

			&:hover .single-testimonial-text{
				opacity: 1;
			}
		}
	}
}
/*-- testimonial-section end --*/




/*-- footer-section start --*/
footer{
	height: 580px;
	background-image: url(../images/footer.png);
	background-size: cover;
	background-position:bottom center;
	background-repeat: no-repeat;
	padding-top: 200px;
	
	.footer-menu{

		border-bottom: 1px solid #fff;

		a{
			color: #fff;
			padding: 0 30px;
			font-size: 20px;
			font-weight: 400;
			font-family: 'Rubik', sans-serif;
			margin-bottom: 30px;
			display: inline-block;
		}
		.border-l-r{
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
		}
	}
	.footer-social-midea{

		a{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			display: inline-block;
			background-color: #071a38;
			text-align: center;
			line-height: 50px;
			margin: 40px 5px;
			-webkit-transition: .4s;
			-o-transition: .4s;
			transition: .4s;

			&:hover{
				background: #0064c1;
				background: -o-linear-gradient(315deg,  #0064c1 1%,#18aed9 100%);
				background: linear-gradient(135deg,  #0064c1 1%,#18aed9 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064c1', endColorstr='#18aed9',GradientType=1 );
			}

			i{
				color: #fff;
			}
		}
		p{
			color: #fff;
		}
	}
}
/*-- footer-section end --*/

